@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <ul>
@foreach (KeyValuePair<string, string> entry in Environment.GetEnvironmentVariables())
{
    <li>@entry.Key = @entry.Value</li>
}
</ul> *@

<SurveyPrompt Title="How is Blazor working for you?" />
