@page "/"

<PageTitle>Traffic Control</PageTitle>

<img id="hero" src="img/cops.webp" />

<AuthorizeView>
    <Authorized>
        <h2>Hello, officer @context.User.Identity?.Name!</h2>
    </Authorized>
</AuthorizeView>